.icon { 
    width: 25;
}    

.navbar{
  background: rgba(180, 46, 117, 0.6);
}

.head{
  font-family: Comic Sans MS;
  font-size: 20px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}